/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Montserrat&display=swap');

html {
    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }


ul {
    list-style-type: none;
}  

.index-page {
    background: url('/media/jumperwoman.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.fade-in-text {
    position: relative;
    font-size: 3rem;
    animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

.because-text {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    margin-left: 20px;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


a {
    color: #034909;
}

.mobile-logo {
    margin-bottom: 0px;
    margin-left: 8px;

}

.mobile-menu {
    margin: 8px 0 8px 0;

}

/*--------------------FOOTER STYLING------*/

#footer {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100% !important;
}

.footer-header {
    letter-spacing: 3px;
}

.footer-link>a {
    font-weight: bold;
    color: #ffc107 !important;
}

.social-links li>a {
    color: white;
}

.social-links li>a:hover,
.footer-list li>a:hover {
    color: #ffc107 !important;
}

/*-----------------------------About Us Page */

.about-page {
    background: url('/media/glasthule.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(51, 51, 48);
    font-family: 'Montserrat', sans-serif;
}

.about-header {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: 'Cutive Mono', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

.dropdown-menu a:hover {
    background-color: rgb(111, 145, 80);
    color: #fff;
}


.about-us {
    background: white;
    color: rgb(111, 145, 80);
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 2rem;
    font-size: 1.6rem;
}


.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    margin-bottom: 15px;
}

.staff-images {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/*------------------------------------------------------------------Philophy page */

.faq-page {
    background: url('/media/blogheaderimage.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 80vh;
    color: rgb(3, 3, 2);
}

/* ------------------------------ Blog Page----*/
.blog-welcome {
    padding-top: 20px;
}

.blog-page {
    background: url('/media/blogpage.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 80vh;
    color: rgb(3, 3, 2);
}

.blog-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

.responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.card-style-blog,
.card {
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.blog-content-container {
    margin-bottom: 40px;
}

.blog-card-body {
    background-color: rgb(157,181,134);
    padding: 1.25rem;
}

.welcome-blog-text,
.welcome-faq-text {
    margin: 20px;
}

.read-on-text {
    color: blue;
    font-size: 1rem;
    font-weight: bold;
}

.blog-edit-btn {
    margin-right: 5px;
}

.blog-image {
    margin-top: 164px;
}

.blog-page-btns {
    margin: 10px 0 40px 0;

}


/*-------------------------------------- FAQs Page-------*/

.faq-question {
    font-size: 2rem;
    color: rgb(21, 131, 21);
}

/* Clearfix (clear floats) */
.staff-images::after {
    content: "";
    clear: both;
    display: table;
}

/* from Bulma */
.icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Cutive Mono', sans-serif;
}

.main-logo-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.zoom:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 1.3s ease-in-out;
    -o-transition: all 1.3s ease-in-out;
    transition: all 1.3s ease-in-out;
}

.shop-now-button {
    background: #ffc107 !important;
    color: #000;
    position: absolute;
    left: 80px;
    top: 50%;
    margin-left: 2rem;
    margin-top: 1rem;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 180px;
}

.shop-now-button:hover,
.signup-btn:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-black {
    background: rgb(76, 76, 75);
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.home-btn {
    text-shadow: 2px 2px rgb(192, 212, 196);
    font-size: 2rem;
}

.banner-alert {
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: rgb(111, 145, 80);
}

.navbar {
    padding: 0 .5rem 0 0 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-olive {
    background-color: rgb(125,151,100) !important;
}

.bg-darkolive {
    background-color: rgb(85,108,62) !important;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: rgb(12, 12, 12);
    font-weight: 700 !important;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.text-black {
    color: rgb(0, 0, 0);
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(213,226,200);
    z-index: -1;
}

.shop-overlay {
    background: rgba(0,0,0, .8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    z-index: -1;
}

.product-img {
    height: 26rem;
}

.badge {
    background: #fff;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    background-color: rgb(30, 59, 30);
    -webkit-box-shadow: 3px 3px 3px #5e745c;
            box-shadow: 3px 3px 3px #5e745c;
    border-radius: 3px;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999999;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*------------------------------------ Toasts */
.message-container {
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}





/*--------------------------Modal Styling */




/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ------------------------------Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::-webkit-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::-moz-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input:-ms-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::-ms-input-placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


.edit-btn {
    padding-right: 10px;
    font-size: 15px;
}

.delete-btn {
    font-size: 12px;
}

.delete-btn:hover {
    text-decoration: underline;
}

.signup-btn {
    background-color: #ffc107;
    color: #000;
    border: 1px solid #000;
}

.shopping-btn {
    margin: 0 auto;
    display: block;
    max-width: 200px;
}


.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #04440e;
    font-weight: bold;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}



/* ------------------------------------------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
        
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .bottom-space {
        padding-bottom: 100px !important;
    }

    .shopping-btn {
        margin-bottom: 160px !important;
    }

    .because-text {
        margin-left: 0px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }


    .navbar li p {
        font-size: 1rem;
    }

    .navbar-collapse li a {
        font-size: 1rem;
    }

    .nav-item,
    .dropdown,
    .dropdown-menu a {
        font-size: .75rem;
        padding: .25rem;
        margin-bottom: .25rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media screen and (max-width: 385px) {
    .nav-link {
        padding: 0.05rem;
    }

    .nav-link i.fa-lg {
        font-size: .75rem;
    }

    .navbar li p {
        font-size: .75rem;
    }

    .navbar-toggler {
        padding: .4rem .4rem;
        font-size: .75rem;
    }

    .shop-now-button {
        top: 325px;
        
    }

    .mobile-logo {
        font-size: 3px;
    }

    .faq-question {
        font-size: 1.4rem;
    }

}

@media only screen and (min-width: 385px) and (max-width: 664px) {
    .shop-now-button {
        top: 325px;
    }

    .navbar li p {
        font-size: .75rem;
    }

    .faq-question {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 664px) {
    .btt-button {
        height: 2.25rem;
        width: 2.25rem;
        font-size: 1rem;
    }

    .shop-now-button {
        left: 6rem;
        
    }

    .hero-text {
        font-size: 1rem !important;
        top: 100px;
        left: 20px;
    }
    
    .because-text {
        font-size: 1.8rem;
        top: 100px;
        
    }
}

@media only screen and (min-width: 665px) and (max-width: 1092px) {
    .hero-text {
        font-size: 1.8rem;
        
    }
    
    .because-text {
        font-size: 2.2rem;
        margin-left: 0px;
    }

    .shop-now-button {
        top: 270px;
    }

}

@media only screen and (min-width: 990px) {
    .hero-text,
    .because-text {
        top: 100px;
    }

    .shop-now-button {
        top: 525px;
        
    }
} 

/*---------------------------------------------------------------- Colours Used */

.text-green,
.text-olive {
    color: rgb(85,108,62);
}

.sub-text {
    color: rgb(216, 216, 216);
}

.white-arrow {
    color: rgb(235, 235, 235);
}

/*-------------------------------------------------------------------------- Delivery banner animation taken and edited from https://blog.hubspot.com/website/scrolling-text-css */

#scroll-text {
    /* animation properties */
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%);
    -webkit-animation: my-animation 25s linear infinite;
    animation: my-animation 25s linear infinite;
}

/* for Firefox */

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
