@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Montserrat&display=swap');

html {
    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
}


.index-page {
    background: url('/media/homepageimg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: rgb(51, 51, 48);
}


/*--------------------FOOTER STYLING------*/

.footer-header {
    letter-spacing: 3px;
}

/*-----------------------------About Us Page */

.about-page {
    background: url('/media/glasthule.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(51, 51, 48);
    font-family: 'Montserrat', sans-serif;
}

.about-header {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cutive Mono', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

p {
    font-size: 1rem;
}

.nav-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.dropdown-menu a:hover {
    background-color: rgb(111, 145, 80);
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.about-us {
    background: white;
    color: rgb(111, 145, 80);
    align-content: center;
    padding-top: 2rem;
    font-size: 1.6rem;
}


.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    margin-bottom: 15px;
}

.staff-images {
    box-sizing: border-box;
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/*------------------------------------------------------------------Philophy page */



/* ------------------------------ Blog Page----*/
.blog-welcome {
    padding-top: 20px;
}

.blog-page {
    background: url('/media/blogheaderimage.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 70vh;
    color: rgb(3, 3, 2);
}

.card-style-blog,
.card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.blog-content-container {
    margin-bottom: 40px;
}

.blog-card-body {
    background-color: rgb(111, 145, 80);
    padding: 1.25rem;
}

.welcome-blog-text,
.welcome-faq-text {
    margin: 20px;
}

.read-on-text {
    color: blue;
    font-size: 1rem;
    font-weight: bold;
}

.blog-image {
    margin-top: 164px;
}

.blog-page-btns {
    margin-top: 10px;
}


/*-------------------------------------- FAQs Page-------*/

.faq-question {
    font-size: 2rem;
    color: rgb(21, 131, 21);
}

/* Clearfix (clear floats) */
.staff-images::after {
    content: "";
    clear: both;
    display: table;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Cutive Mono', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.zoom:hover {
    transform: scale(1.2);
    transition: all 1.3s ease-in-out;
}

.shop-now-button {
    background: #e0af1b;
    color: #000;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 260px;
}


.shop-now-button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}


.btn-black {
    background: rgb(76, 76, 75);
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.home-btn {
    text-shadow: 2px 2px rgb(192, 212, 196);
    font-size: 2rem;
}

.banner-alert {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.home-btn,
.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: rgb(111, 145, 80);
}

.bg-white {
    background-color: #fff !important;
}

.bg-olive {
    background-color: rgb(110, 168, 116);
}

.bg-darkolive {
    background-color: rgb(91, 110, 72);
}

.social-links li>a {
    color: white;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: rgb(12, 12, 12);
    font-weight: 700 !important;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

.text-black {
    color: rgb(78, 77, 70);
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(135, 172, 114);
    z-index: -1;
}

.product-img {
    height: 26rem;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*------------------------------------ Toasts */
.message-container {
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}





/*--------------------------Modal Styling */




/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ------------------------------Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.edit-btn {
    padding-right: 10px;
}

.delete-btn {
    font-size: 12px;
}

.delete-btn:hover {
    text-decoration: underline;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}



/* ------------------------------------------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .navbar li p {
        font-size: 1rem;
    }

    .navbar-collapse li a {
        font-size: .75rem;
    }

    .nav-item,
    .dropdown,
    .dropdown-menu a {
        font-size: .5rem !important;
        padding: .25rem;
        margin-left: .25rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (max-width: 385px) {
    .nav-link {
        padding: 0.05rem;
    }

    .nav-link i.fa-lg {
        font-size: .75rem;
    }

    .navbar li p {
        font-size: .75rem;
    }

    .navbar-toggler {
        padding: .4rem .4rem;
        font-size: .75rem;
    }
}

/*---------------------------------------------------------------- Colours Used */

.text-green {
    color: rgb(4, 54, 4) !important;
}

.text-olive {
    color: rgb(89, 114, 65) !important;
}

.sub-text {
    color: rgb(216, 216, 216);
}

/*-------------------------------------------------------------------------- Delivery banner animation taken and edited from https://blog.hubspot.com/website/scrolling-text-css */

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 25s linear infinite;
    -webkit-animation: my-animation 25s linear infinite;
    animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }