{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}

{% block content %}

<div class="blog-page">
   <div class="row">
   </div>
</div>
<div class="container blog-container">
   <div class="row card card-style-blog">
      <div class="card-body">
         {% for blog in blog %}
            <div class="col-12 text-center">
               <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="col-12">
               <p class="font-weight-bold text-uppercase logo-font text-center">{{ blog.title }}</p>
            </div>
            <div class="col-12">
               <p class="text-center">{{ blog.body }}</p>
            </div>
            <div class="col-12">
               <p>By {{ blog.author }}</p>
            </div>
            <div class="col-12">
                <p>{{ blog.published_date }}</p>
             </div>
            {% endfor %}
            {% for blog in blog %}
            {% if request.user.is_superuser %}
               <small class="ml-3">
               <a href="#">Edit</a> | 
               </small>
               <small class="ml-3">
               <a href="#">Delete</a> | 
               </small>
            {% endif %}
         {% endfor %}
   </div>
   <div class="row blog-page-btns">
      <div class="col text-right">
         <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-sm">
         <span class="icon">
         <i class="fas fa-chevron-left"></i>
         </span>
         <span class="text-uppercase">Home</span>
         </a>
      </div>
      <div class="col text-left">
         <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-sm">
         <span class="text-uppercase">Back To Shopping</span>
         <span class="icon">
         <i class="fas fa-chevron-right"></i>
         </span>
         </a>
      </div>
   </div>
</div>
</div>
{% endblock %}