{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="about-page mb-5">
    <div class="about-header">
        <div class="text-white text-center mt-5">
            <h1>Ethical. Sustainable. Supporting local.</h1>
        </div>
    </div>
</div>

<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="font-weight-bold">Our Story</h1>
                <hr>
                <p>The story of siopaFIA began with a small shop in the small village of Glasthule in County Dublin, on
                    Ireland's
                    sunny east coast.

                    siopaFia was a new kind of ethical clothing and lifestyle store, offering its customers a unique
                    range of
                    products that were kind and conscious towards the planet and its people.

                    The Irish Times soon named it Ireland’s best boutique.
                </p>
            
                <p>
                    The same values inform siopaFIA's online store and our curated collection of ethical and sustainable
                    fashion, skincare, footwear and more.

                    It’s why we source all our products from makers and suppliers who share our vision that fashion
                    shouldn’t just
                    be about looking good.

                    It should be good for the people who make it. And good for the planet too.
                </p>
                <p>

                    Browse our store and you will find products made from raw materials that are either recycled or
                    sourced from
                    environmentally-friendly ecological agriculture and organic farming.

                    Everything is humanely produced and many of our clothes feature natural and bio-degradable dyes. We
                    have plenty
                    of vegan options too.

                    Just as important, the skilled workers who make our products are paid a decent wage. Whatever you
                    buy from us
                    will also be packed and shipped using recyclable materials.

                    Last but not least, we believe that being sustainable and conscious of what you buy shouldn’t mean
                    sacrificing
                    value, quality or your individual style. So all of the items in our range are well-priced,
                    well-designed and
                    made to last.

                    That’s why we think you’ll not only look good wearing our clothes. You’ll feel good too.

                    We hope you enjoy our online store. If you are in the area, we’d also love you to pop in, say hello
                    and see our
                    lovely shop.</p>
            </div>
        </div>
    </div>
</section>

<section>
    {% include 'about/includes/philosophy.html' %}
</section>

<br>
<hr>
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="font-weight-bold">Meet The Team</h1>
                
                <p>The first of our lovely lot is our head-honcho, Fia. Her commitment and passion to eco-awareness and
                    clothing sustainability has been the driving force for us all at siopaFIA.
                </p>
                <p>
                    Next up is Fia's big sis, Jolene, who has also been with us from the very beginning. She tells some
                    great jokes and her favourite colour is green.
                </p>
                <p>
                    Last but not least, is our darling Sylvia. She is here at the weekends and is currently studying
                    environmental science in university.
                </p>

            </div>
            <div class="row staff-images">
                <div class="column">
                    <img src="https://siopafia.s3.eu-west-1.amazonaws.com/media/Fia.jpg" class="img-fluid" alt="Fia">
                </div>
                <div class="column">
                    <img src="https://siopafia.s3.eu-west-1.amazonaws.com/media/Jolene.jpg" class="img-fluid" alt="Jolene">
                </div>
                <div class="column">
                    <img src="https://siopafia.s3.eu-west-1.amazonaws.com/media/sylvia2.jpg" class="img-fluid" alt="sylvia">
                </div>
            </div>
</section>
<div class="btt-button">
    <a class="btt-link d-flex h-100">
       <i class="fas fa-arrow-up white-arrow mx-auto my-auto"></i>
    </a>
 </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
   $('.btt-link').click(function (e) {
      window.scrollTo(0, 0)
   })
</script>
{% endblock %}