<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="/media/plantinhand.jpg" class="img-responsive" alt="plant in hand image">
                <h1 class="font-weight-bold mt-5">Our Philosophy</h1>
                <hr>
                <p>We believe fashion should be good for the planet and good for the people who make it too.
                </p>
                <p>
                    It’s why we source everything we sell from makers and suppliers who share our vision.
                </p>
                <p>
                    It’s why all the items in our range are ethically produced and include organic, vegan, sustainable
                    and recycled options.
                </p>
                <p>
                    It’s why we try and ensure that the people who make our products are fairly paid for what they do.
                </p>
                <p>
                    We also believe that being conscious of what you buy, shouldn’t mean sacrificing value, quality or
                    style.
                </p>
                <p>Which is why you’ll not only look good wearing our clothes.</p>
                <p><strong>You'll feel good too.</strong></p>
            </div>
</section>
